In [ ]:
import numpy as np
import pandas as pd

# Parámetros de la inversión
aporte_mensual = 150  # euros
tasa_rendimiento_anual = 0.03  # 3% anual
tasa_rendimiento_mensual = (1 + tasa_rendimiento_anual)**(1/12) - 1

# Comisiones mensuales (convertidas a proporciones)
comisiones = {
    'Opción 1': {'comision_mensual': 0.0008 * 1.21, 'ajuste_precio': 0.00},
    'Opción 2': {'comision_mensual': 0.0006 * 1.21, 'ajuste_precio': -0.03},
    'Opción 3': {'comision_mensual': 0.0005 * 1.21, 'ajuste_precio': -0.06}
}

# Horizontes de inversión
años = [5, 10, 15]
resultados = {}r

# Simulación del crecimiento de la inversión para cada opción
for nombre, datos in comisiones.items():
    resultados[nombre] = {}
    for año in años:
        meses = año * 12
        saldo = 0
        for mes in range(meses):
            aporte_ajustado = aporte_mensual * (1 + datos['ajuste_precio'])
            saldo = (saldo + aporte_ajustado) * (1 + tasa_rendimiento_mensual - datos['comision_mensual'])
        resultados[nombre][f'{año} años'] = saldo

# Convertimos los resultados en un DataFrame para visualización
df_resultados = pd.DataFrame(resultados).T
df_resultados = df_resultados.round(2)
df_resultados

           5 años   10 años   15 años
Opción 1  9423.66  19733.03  31011.34
Opción 2  9209.64  19431.99  30778.40
Opción 3  8958.33  18974.05  30171.97